@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	background-image: url("img-1.jpg");
	padding: 0 10px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

.registration-page {
	max-width: 700px;
	width: 100%;
	margin: 20px auto;
	padding: 30px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
}

.form {
	background: rgb(231, 175, 199);
	max-width: 9000px;
	width: 100%;
	margin: 0 auto 50px;
	padding: 45px;
}

.title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 25px;
	color: rgb(8, 12, 6);
	text-align: center;
}

.input_field label {
	width: 200px;
	color: #030000;
	margin-right: 10px;
	font-size: 15px;
	display: inline-block;
}

.register-form input[type="text"],
.register-form input[type="password"],
.register-form input[type="cpassword"] {
	width: 50%;
	outline: none;
	border: 6px solid #d5dbd9;
	font-size: 15px;
	padding: 8px 10px;
	border-radius: 3px;
	transition: all 0.3s ease;
	margin: 10px auto;
}

.register-form button[type="submit"],
.register-form button[type="reset"] {
	width: 180px;
	background: none;
	display: inline-block;
	margin: 20px 15px;
	text-align: center;
	border: 3px solid #ffc400ec;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25px;
	cursor: pointer;
	letter-spacing: 2px;
	position: relative;
}

.register-form button[type="submit"]:hover,
.register-form button[type="reset"]:hover {
	background: #ffc400;
}
